body,
html {
    margin: 0;
    font: bold 12px/1 'Open Sans', arial, sans-serif;
    background: #282c34;
    text-align: center;
    letter-spacing: 0.15em;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: inline-block;
}

.menu ul {
    padding-right: 1em;
    list-style: none;
    display: table;
    text-align: center;
    @media screen and (max-height: 300px) {
        ul {
            margin-top: 40px;
        }
    }
    li {
        display: table-cell;
        position: relative;
        a {
            padding: 0.7em;
            color: inherit;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            text-decoration: none;
            display: inline-block;
            padding: 15px 20px;
            position: relative;
        }
        &:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: '';
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: black;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        &:hover:after {
            width: 100%;
            left: 0;
        }
    }
}

.social-media ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
        display: inline;
        a {
            padding: 1em;
            color: #282c34;
        }
    }
}

.main-content {
    min-height: 75vh;
}
