@import '../mixins/mixins';

.contact {
    padding-top: 107px;
    background-color: #313131;
    .thanks-container {
        padding-bottom: 107px;
        color: white;
        font-size: 20px;
    }
}

.contact-title {
    margin-top: 30px;
    margin-bottom: 15px;
    color: white;
}

.form {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    margin: auto;
    padding-right: 30px;
    ::placeholder {
        font-size: 12px;
        @include tablet {
            font-size: 14px;
        }
    }
    &-item {
        width: 100%;
        margin-bottom: 13px;
        label {
            color: white;
            line-height: 2;
            font-size: 12px;
            @include tablet {
                font-size: 14px;
            }
            span {
                color: white;
            }
            textarea {
                padding: 15px;
                color: black;
                border: 1px solid black;
                width: 100%;
                &:focus {
                    outline: 2px solid white;
                }
                &::placeholder {
                    color: rgb(185, 185, 185);
                }
            }
        }
        input {
            display: block;
            width: 100%;
            margin: auto;
            padding: 15px;
            height: 45px;
            border: 1px solid black;
            color: grey;
            &:focus {
                outline: 2px solid white;
            }
            &::placeholder {
                color: rgb(185, 185, 185);
            }
        }
        .button-send {
            width: 290px;
            height: 45px;
            background-color: black;
            color: white;
            font-weight: bold;
            margin: 17px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.5s ease;
            &:hover {
                background-color: #f8f8f8;
                color: Black;
                border: 2px solid black;
            }
        }
    }
}

/* MEDIA QUERIES */
@include tablet {
    .form {
        width: 442px;
        &-item:last-of-type {
            align-self: flex-end;
            width: auto;
            .button-send {
                width: 206px;
            }
        }
    }
}

@include desktop {
    .line-item {
        display: inline-block;
    }
    .mail {
        width: 395px;
    }
    .tel {
        width: 162px;
    }

    .form {
        width: 601px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        &-item:last-of-type {
            margin-left: auto;
            .button-send {
                width: 278px;
                margin-bottom: 107px;
            }
        }
    }
}
