@import '../mixins/mixins';

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(41, 36, 36);
    background-color: #ffe8d4;
    opacity: 0.8;
    padding-left: 5%;
    text-align: left;
    @include tablet {
        padding-right: 0;
        font-size: x-large;
    }
    @include desktop {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .photo {
        width: 160px;
        height: 170px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #6d6c6c;
        margin-bottom: 18px;
        @include tablet {
            width: 240px;
            height: 250px;
        }
        @include desktop {
            width: 280px;
            height: 290px;
        }
    }
    &-button {
        margin-bottom: 53px;
        margin-top: 45px;
        transform: translate(0, 230px);
        align-self: center;

        .scroll--down--button {
            width: 52px;
            height: 14px;
            border-radius: 12%;
            padding: 11px;
            transform: translate(0, 0);
            animation: pulse 2.5s ease infinite;
        }
        @keyframes pulse {
            0%,
            100% {
                transform: translate(0, 0);
            }
            50% {
                transform: translate(0, -90%);
            }
        }
    }
    .social-media {
        align-items: flex-start;
    }
    .right-picture {
        height: 100vh;
        width: 55vw;
        max-width: 700px;
        padding-right: 5%;
        display: none;
        @include desktop {
            display: inline-block;
        }
    }
}
