.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100vw;
    z-index: 99;
    position: fixed;
}

.App-link {
    color: #61dafb;
}

.home-icon {
    padding: 1em;
    color: white;
}
.home-icon:hover {
    transition: 0.3s all ease-out;
    background-color: white;
    color: #282c34;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
    border-radius: 5px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    padding: 0.7em;
    color: inherit;
}

.social-media ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-media ul li {
    display: inline;
}

.social-media ul li a {
    padding: 1em;
    color: #282c34;
}

.footer {
    min-height: 10vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: rgb(224, 224, 221);
}

.footer-copy {
    color: grey;
    font-family: monospace;
}

.content {
    min-height: 80vh;
    padding-top: 8em;
}

.history {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
}

.photo {
    padding-top: 15px;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(109, 108, 108);
}

.bio-link,
.portfolio-link,
.contact-link {
    background-color: #282c34;
    color: white;
    box-shadow: none;
}
.contact-link:hover {
    transition: 0.3s all ease-out;
    background-color: white;
    color: #282c34;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
    border-radius: 5px;
}
.portfolio-link:hover {
    transition: 0.3s all ease-out;
    background-color: white;
    color: #282c34;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
    border-radius: 5px;
}
.bio-link:hover {
    transition: 0.3s all ease-out;
    background-color: white;
    color: #282c34;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
    border-radius: 5px;
}
